<!DOCTYPE html>
<html>
<head>
  <title>ProposalManagement</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Interesting PE</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if !user_signed_in? %>
            <li><h4><button type="button" class="btn btn-link" data-toggle="modal" data-target="#SignupModal">Sign up</button></h4></li>
  	        <li><h4><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#LoginModal">Log in</button></h4></li>
          <% else %>
  	        <li class="dropdown">
  	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
  	          <ul class="dropdown-menu">
  	            <li><%= link_to "Edit Account", edit_user_registration_path %></li>
  	            <li role="separator" class="divider"></li>
  	            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
  	          </ul>
  	        </li>
          <% end %>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
<%= yield %>

<%= render "users/sessions/login_modal" %>
<%= render "users/registrations/signup_modal" %>

</body>
</html>
